form {
    max-width: 1000px;
    margin: 0 auto;
}
fieldset {
    display: flex;
    justify-content: space-around;
}
input {
    text-align: center;
}

.bg-yellow {
    background-color: yellow;
}
.bg-green {
    background-color: green;
}
.bg-gray {
    background-color: gray;
}
.bg-white {
    background-color: white;
}