header {
    max-width: 60%;
    margin: 0 auto;
}
fieldset {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}
button {
    width: 100%;
    min-height: 40px;
    margin: 2px;
}
table {
    margin: 0 auto;
}
tr {
    height: 20px;
}
th {
    width: 8%;
}
footer {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: 10px auto;
}
.menuJuego {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.menuJuego .center {
    margin: 7px auto;
    width: 75%;
}
.btnPartAnt {
    display: flex;
    justify-content: space-around;
}
.btnPart {
    margin-left: 5px;
}
.tablero {
    max-width: 368px;
    max-height: 440px;
    margin: 0 auto;
}
.tablero input {
    height: 48px;
    width: 48px;
    margin: 4px 4px;
    padding: 0;
}
.teclado {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    margin: 25px auto;
}
.rowTec {
    display: flex;
}
.oculto {
    display: none;
}
.mensAlerta{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 40%;
}

/* ----- Estilos -----*/

h1 {
    text-align: center;
    color: #6969B3;
}
body {
    background-color: #F0F0F7;
}
fieldset {
    border: none;
}
input {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #3D3B3D;
    border-radius: 10px;
    border: 1px solid;
    border-color: #8F898D;
}
tr, td, th {
    border: 1px solid;
    border-radius: 5px;
}
button {
    border: 1px solid #8F898D;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
}
button:hover {
    background-color: #3D3B3D;
    color: white;
}
header button {
    background-color: #44BBA4;
    color: white;
    font-size: 20px;
}
header button:hover {
    background-color: #3D3B3D;
    color: white;
    cursor: pointer;
}
footer button {
    background-color: #44BBA4;
    cursor: pointer;
}
#enviar:hover {
    background-color: #44BBA4;
}
#borrar:hover {
    background-color: red;
}
.mensAlerta {
    background-color: red;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
.bg-yellow {
    background-color: #FAFD0F;
}
.bg-green {
    background-color: #B2E92E;
}
.bg-gray {
    background-color: #B8B1B6;
}