form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}
button {
    margin-top: 15px;
}
label {
    margin-top: 10px;
}
input[type=button] {
    margin-top: 20px;
}
p {
    margin: 5px 0;
}
h2 {
    text-align: center;
}
.error {
    color: red;
}
.rad-red {
    border-color: red;
}
.rad-black {
    border-color: black;
}